Repository bnhr/vreaks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier --write

.lintstagedrc:

{
	"src/**/*.{ts,tsx}": ["eslint ."],
	"src/**/*.{ts,tsx,json,css,scss,md,mdx,js}": ["prettier --write"]
}

chore: minor changes
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/pages/auth/login.tsx
  src/store/login.ts
Due: eslint ., prettier --write

chore(docs): update README
  README.md
Due: none

chore: implement more recommended way of using RR
  src/app.tsx
  src/layouts/admin/admin-layout.tsx
  src/layouts/lazy-comp.tsx
Due: eslint ., prettier --write

refactor: using proper function export
  src/api/auth/login-mutation.ts
  src/api/auth/logout-mutation.ts
  src/api/auth/me-query.ts
  src/api/refresh.ts
  src/api/users/add-mutation.ts
  src/api/users/delete-mutation.ts
  src/api/users/update-mutation.ts
  src/api/users/users-query.ts
  src/app.tsx
  src/features/users/index.tsx
  src/features/users/user-card.tsx
  src/layouts/admin/admin-layout.tsx
  src/layouts/global-loader.tsx
  src/layouts/lazy-comp.tsx
  src/pages/auth/login.tsx
  src/pages/auth/protected.tsx
  src/pages/dashboard/admin.tsx
  src/pages/dashboard/users/index.tsx
  src/pages/front/home.tsx
  src/store/counter.ts
  src/store/login.ts
Due: eslint ., prettier --write

refactor: using proper function export (#87)
  src/api/auth/login-mutation.ts
  src/api/auth/logout-mutation.ts
  src/api/auth/me-query.ts
  src/api/refresh.ts
  src/api/users/add-mutation.ts
  src/api/users/delete-mutation.ts
  src/api/users/update-mutation.ts
  src/api/users/users-query.ts
  src/app.tsx
  src/features/users/index.tsx
  src/features/users/user-card.tsx
  src/layouts/admin/admin-layout.tsx
  src/layouts/global-loader.tsx
  src/layouts/lazy-comp.tsx
  src/pages/auth/login.tsx
  src/pages/auth/protected.tsx
  src/pages/dashboard/admin.tsx
  src/pages/dashboard/users/index.tsx
  src/pages/front/home.tsx
  src/store/counter.ts
  src/store/login.ts
Due: eslint ., prettier --write

chore: remove indent rule from eslint
  eslint.config.js
Due: none

chore: remove indent rule from eslint (#90)
  eslint.config.js
Due: none

fix: small changes
  tsconfig.app.json
  tsconfig.json
Due: none

chore: small changes
  tsconfig.app.json
Due: none

chore: update vite major
  package.json
  pnpm-lock.yaml
Due: none

feat: using ky and react router v7
  package.json
  pnpm-lock.yaml
  src/api/auth/login-mutation.ts
  src/api/auth/logout-mutation.ts
  src/api/auth/me-query.ts
  src/api/fetchers/ky.ts
  src/api/refresh.ts
  src/api/users/add-mutation.ts
  src/api/users/delete-mutation.ts
  src/api/users/update-mutation.ts
  src/api/users/users-query.ts
  src/app.tsx
  src/constant/index.ts
  src/layouts/admin/admin-layout.tsx
  src/pages/auth/login.tsx
  src/pages/auth/protected.tsx
  src/pages/dashboard/admin.tsx
  src/pages/front/home.tsx
  src/utils/index.ts
Due: eslint ., prettier --write

chore: deps
  pnpm-lock.yaml
Due: none

chore: package.json update
  package.json
Due: none

chore: add nvmrc for node
  .nvmrc
Due: none

fix: update users and use bun
  bun.lockb
  pnpm-lock.yaml
  src/features/users/index.tsx
  src/features/users/user-card.tsx
  src/pages/auth/login.tsx
  src/pages/dashboard/users/index.tsx
  src/types/users.ts
Due: eslint ., prettier --write

docs: update readme to include bun
  README.md
Due: none

choew: deps
  bun.lockb
  package.json
Due: none

chore: using bun 1.2
  bun.lock
  bun.lockb
Due: none

chore: upgrade to tailwind v.4
  bun.lock
  package.json
  postcss.config.js
  src/index.css
  src/pages/front/home.tsx
  tailwind.config.js
  vite.config.ts
Due: eslint ., prettier --write

fix: remove unused package
  bun.lock
  package.json
Due: none

docs: update readme
  README.md
Due: none

feat: add mode
  .env.example
  src/app.tsx
  src/vite-env.d.ts
Due: eslint ., prettier --write

fix: formatting single att
  .prettierrc.cjs
  src/app.tsx
  src/components/base/button/button.test.tsx
  src/components/base/button/button.tsx
  src/features/users/index.tsx
  src/features/users/user-card.tsx
  src/layouts/global-loader.tsx
  src/pages/dashboard/users/index.tsx
Due: eslint ., prettier --write

refactor: restructuring API dir
  src/api/auth/login-mutation.ts
  src/api/auth/me-query.ts
  src/api/fetchers/ky.ts
  src/api/fetchers/list.ts
  src/api/users/add-mutation.ts
  src/api/users/delete-mutation.ts
  src/api/users/update-mutation.ts
  src/api/users/users-query.ts
  src/pages/auth/login.tsx
Due: eslint ., prettier --write

chore: small changes
  bun.lock
  package.json
  src/constant/api.ts
  src/pages/dashboard/users/index.tsx
Due: eslint ., prettier --write

chore: remove unused package
  bun.lock
  package.json
Due: none

refactor: using server-side cookie
  src/api/fetchers/ky.ts
  src/pages/auth/login.tsx
  src/pages/dashboard/admin.tsx
  src/types/auth.ts
Due: eslint ., prettier --write

fix: using bun for pre-commit
  .husky/pre-commit
Due: none

refactor: using domain directory
  src/components/layouts/admin/admin-layout.tsx
  src/components/layouts/global-loader.tsx
  src/components/layouts/lazy-comp.tsx
  src/domain/about/about.tsx
  src/domain/auth/login.tsx
  src/domain/auth/protected.tsx
  src/domain/dashboard/admin.tsx
  src/domain/dashboard/user.tsx
  src/domain/errors/not-found.tsx
  src/domain/home/home.tsx
  src/domain/users/index.tsx
  src/domain/users/user-card.tsx
  src/main.tsx
  src/routes/index.tsx
Due: eslint ., prettier --write

chore: up dependencies
  bun.lock
  package.json
Due: none

refactor: using react router data mode
  bun.lock
  package.json
  src/components/layouts/main-layout.tsx
  src/domain/about/about.tsx
  src/domain/auth/login.tsx
  src/domain/home/home.tsx
  src/routes/index.tsx
Due: eslint ., prettier --write

chore: using @eslint-react
  bun.lock
  eslint.config.js
  package.json
  src/components/base/button/button.tsx
  tsconfig.json
  tsconfig.node.json
Due: eslint ., prettier --write

chore: separate items for protected and public routes
  src/routes/index.tsx
Due: eslint ., prettier --write

chore: update major deps
  package.json
Due: none

chore: small changes
  src/index.css
Due: prettier --write

chore: remove comments
  src/api/fetchers/ky.ts
Due: eslint ., prettier --write

chore: latest bun
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  bun.lock
  package.json
Due: none

test: add more cases
  bun.lock
  package.json
  src/utils/utils.test.ts
Due: eslint ., prettier --write

fix: up packages version
  bun.lock
  package.json
Due: none
